.chart {
    position: relative;
    user-select: none;
    svg {
        overflow: visible;
    }
    .tooltip-group {
        transition: transform 0.2s;
        .value-mark {
            transition: transform 0.2s;
        }
    }

    .tooltip-labels-box {
        z-index: 10;
        transition: left 0.2s;
    }
}